@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
    --primary: #03AED2;
    --secondary: #68D2E8;
    --primaryText: black;
    --navShadow: rgb(225, 225, 225);
    --silver: rgb(210, 210, 210);
    --checkboxOn: rgb(68, 255, 0);

}

body {
    color: var(--primaryText);
    background-color: var(--primary);
    font-family: "Fredoka", serif;
    -webkit-user-select: none;
    user-select: none;
}

#passwordOutput {
    background-color: var(--secondary);
    min-width: 350px;
    width: fit-content;
    font-family: "Iceland", serif;
    font-size: clamp(25px, 7vw, 30px);
}

.checkbox {
    background-color: var(--silver);
    border: 3px solid black;
    width: 1.2em;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.checkboxOn {
    background-color: var(--checkboxOn);
}

.chrNum{
    font-family: "Iceland", serif;
    font-size: clamp(15px, 4vw, 23px);
    background-color: var(--secondary);
    width: fit-content;

}

.length:hover{
    cursor: pointer;
}