@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

:root {
    --primary: rgb(235, 235, 235);
    --secondary: #ffffff;
    --primaryText: black;
    --shadow: rgb(225, 225, 225);
    --checkboxOn: rgb(0, 200, 255);

}

.nav {
    background-color: var(--secondary);
    box-shadow: 2px 2px 5px var(--shadow);
    font-size: clamp(25px, 5vw, 30px);
    font-family: "Tomorrow", serif;
}

body {
    color: var(--primaryText);
    background-color: var(--primary);
    font-family: "Tomorrow", serif;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

#passwordOutput {
    background-color: var(--secondary);
    min-width: 350px;
    width: fit-content;
    font-family: "Iceland", serif;
    font-size: clamp(25px, 7vw, 30px);
    box-shadow: 0px 6px 1px var(--shadow);
}

#generateBtn{
    background-color: var(--secondary);
    width: fit-content;
    font-size: clamp(13px, 4vw, 17px);
    box-shadow: 0px 3px 3px var(--shadow);
    cursor: pointer;
}

.checkbox {
    background-color: var(--primary);
    border: 3px solid black;
    width: 1.2em;
    aspect-ratio: 1/1;
    cursor: pointer;
    box-shadow: 0px 5px 5px var(--shadow);

}

.checkboxOn {
    background-color: var(--checkboxOn);
}

.chrNum {
    font-family: "Iceland", serif;
    font-size: clamp(15px, 4vw, 23px);
    background-color: var(--secondary);
    width: fit-content;
    box-shadow: 0px 4px 3px var(--shadow);


}

.length:hover {
    cursor: pointer;
}


.checkboxAnim {
    animation: checkboxAnim 0.25s 0s forwards;
}

@keyframes checkboxAnim {
    50% {
        scale: 0.7;
    }

    100% {
        scale: 1;
    }
}

.settings {
    position: absolute;
    bottom: 4vh;
    left: 2vh;
    background-color: var(--secondary);
    width: fit-content;
    height: fit-content;
    border-radius: 10%;
    box-shadow: 0px 0px 2px 2px var(--primaryText);
    cursor: pointer !important;

}

.settings>svg {
    fill: var(--primaryText);
}

.themeBtn{
    cursor: pointer ;
}